<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="cucumber TestNG" verbose="1" parallel="tests"
	thread-count="5">
	<parameter name="platform" value="web"></parameter>
	<parameter name="gridEnabled" value="false"></parameter>
	<parameter name="grid_type" value=""></parameter>
	<!-- <parameter name="remoteServerIP" value="10.0.2.15"></parameter> <parameter 
		name="remoteServerPort" value="4444"></parameter> -->
	<!-- <test name="login to app">
		<parameter name="platform" value="web"></parameter>
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="testcases.SearchTestcase">
				<methods>
					<include name="searchTest1" />
				</methods>
			</class>
		</classes>
	</test> -->

	<test name="login to app1">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testcases.SearchTestcase">
				<methods>
					<include name="searchTest2" />
				</methods>
			</class>
		</classes>
	</test>
</suite>